{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block banner_slider %}
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/images/banner/slider1.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'app/images/banner/slider2.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
      <div class="carousel-item ">
        <img src="{% static 'app/images/banner/slider3.jpg' %}" class="d-block w-100" alt="banner image">
      </div>
      {% comment %} <div class="carousel-item ">
        <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="banner image">
      </div> {% endcomment %}
      
    </div>
  </div>
{% endblock banner_slider %}

{% block Information %}
    <div class="container">
        <div class="row bg-info text-center p-5 text-white border-buttom shadow">
            <h1>Products</h1>
            <small class="fs-5">Dodla offers a wide range of products in both liquid milk and by-products categories. The liquid milk comprises of 5 types of variants and the by-product comprises of 14 types of varients.

            Dodla offers a wide range of milk products comprising of fresh Milk, Butter, Ghee, paneer, Curd, Flavoured Milk, Doodh peda, Ice-Cream and Skimmed Milk Powder.
            </small>
        </div>
    </div>
{% endblock Information %}

{% block main.content %}
    <div class="container">
        <h2 class="text-center">Dairy products</h2>
        <br><br>
        <div class="row container">
            <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" 
            data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s;
            animation-name: none;">
                <div class="goodnesssec buttermilk smbg">
                    <a href="{% url 'category' 'GH' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'app/images/product/buffaloghee.png' %}" 
                            class="img-responsive" alt="">
                            <p class="mlkpro">Ghee</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" 
            data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s;
            animation-name: none;">
                <div class="goodnesssec buttermilk curdbgpro">
                    <a href="{% url 'category' 'CR' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'app/images/product/curdtotal.png' %}" 
                            class="img-responsive" alt="">
                            <p class="mlkpro">Curd</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" 
            data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s;
            animation-name: none;">
                <div class="goodnesssec buttermilk buttermilk">
                    <a href="{% url 'category' 'IC' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'app/images/product/Kulfi.png' %}" 
                            class="img-responsive" alt="">
                            <p class="mlkpro">Kulfi</p>
                        </div>
                    </a>
                </div>
            </div>

           
        </div>
         
        <br><br>
        

        <div class="row container">
            <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" 
            data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s;
            animation-name: none;">
                <div class="goodnesssec buttermilk smbg">
                    <a href="{% url 'category' 'MS' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'app/images/product/chocky.png' %}" 
                            class="img-responsive" alt="">
                            <p class="mlkpro">MilkShake</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" 
            data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s;
            animation-name: none;">
                <div class="goodnesssec buttermilk curdbgpro">
                    <a href="{% url 'category' 'ML' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'app/images/product/cowmilk.png' %}" 
                            class="img-responsive" alt="">
                            <p class="mlkpro">Milk</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 mi-go wow fadeInup" data-wow-duration="1s" 
            data-wow-delay="0.6s" style="animation-duration: 1s; animation-delay: 0.6s;
            animation-name: none;">
                <div class="goodnesssec buttermilk buttermilk">
                    <a href="{% url 'category' 'IC' %}">
                        <div class="goodnessseccont text-center">
                            <img src="{% static 'app/images/product/Icbars.png' %}" 
                            class="img-responsive" alt="">
                            <p class="mlkpro">Icebar</p>
                        </div>
                    </a>
                </div>
            </div>

           
        </div>
        
        


    </div>
    <br><br><br>
{% endblock main.content %}